html {
  font-size: 15px;
  background: url(photo-1540039155733-5bb30b53aa14.jpg);
  background-size: cover;
}
body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.key {
  border: 0.2rem solid black;
  border-radius: 0.25rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  position: all 0.06s ease;
  width: 10rem;
  text-align: center;
  color: rgb(173, 83, 83);
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

kbd {
  display: block;
  font-size: 4rem;
}
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #16a2b4;
}
